
body{background-color:#e2e1e6;}

    .CORP{
    position:relative; height: 1755px; width:1135px; left: 100px; top: 10px;
    border-color:black; border-style:outset;
    background-color: white; /* Adjust background color as needed */
    box-shadow: 0px 150px 150px 0px rgba(0, 0, 0, 0.5); /* Add shadow effect */
    }


    /*MODUL COD CSS PARTE STANGA DIN CV */    
        .CV-STANGA{
            position: relative; width: 480px; top: 2px; height: 1098px;
            border-style: dotted; border-color: rgba(0, 0, 0, 0);
            text-align: left;
            padding-left: 40px;
        }
            h1 {font-size: 20px;} h2 {font-size: 17px;} p1 {font-size: 15px;}

            /* MODUL PENTRU LINIA ORIZONTALA CE SEPARA CAPITOLELE */
                .linii-stanga-orizontala {position:relative}
                .linie-stanga-orizontala  {border-top: 2px solid black;width: 100%;}
                .linie-stanga-verticala-1 {position:absolute; top:-61.9%; min-width: fit-content; width: 8px; height: 70%; border-bottom: 25px solid rgb(56, 55, 55);}
                .linie-stanga-verticala-2 {position:absolute; top:-45.3%; width: 8px; height: 70%; border-bottom: 25px solid rgb(56, 55, 55);}
                .linie-stanga-verticala-3 {position:absolute; top: 11.7%; width: 8px; height: 70%; border-bottom: 25px solid rgb(56, 55, 55);}
                .linie-stanga-verticala-4 {position:absolute; top: 52.9%; width: 8px; height: 70%; border-bottom: 25px solid rgb(56, 55, 55);}
                .linie-stanga-verticala-5 {position:absolute; top: 775px; width: 8px; height: 70%; border-bottom: 25px solid rgb(56, 55, 55);}
            /* FINAAL MODUL LINIE ORIZONTALA*/

            /* MODUL ORGANIZARE ANI DIN PARTEA STANGA A CV-ULUI*/
                .DATA1-CV-STANGA {position: relative; left: -10px; top: -120px; text-align: right;}
                .DATA2-CV-STANGA {position: relative; left: -10px; top: -120px; text-align: right;}
                .DATA3-CV-STANGA {position: relative; left: -10px; top: -120px; text-align: right;}
                .DATA4-CV-STANGA {position: relative; left: -10px; top: -120px; text-align: right;}
                .DATA5-CV-STANGA {position: relative; left: -10px; top: -120px; text-align: right;}
            /* FINAL MODUL ORGANIZARE ANI*/

            .TEXT-CONTINUT-S {
                width:650px; top: 400px; 
                border-style: solid; border-color: rgba(0, 0, 0, 0);
                text-wrap:wrap; text-decoration-style: double; text-align: left;
                font-style: italic; font-family: Impact Haettenschweiler, 'Arial Narrow bold', sans-serif;
                color: #4c4b50;
            }

    /* FINAL PARTE STANGA DIN CV*/
            

    /* MODUL COD PARTE DREAPTA DIN CV */
        .CV-DREAPTA{
            position: relative; left: 800px; width: 325px; top: -1100px; height: 1750px;
            border-style: dotted;border-color: rgba(0, 0, 0, 0);
            background-color: #4c4b50;
            
        }
            h3{font-size:45px} p3{font-size:18px}

            /* MODUL PENTRU LINII*/
                .linie-dreapta-1 {border-top: 3px solid rgb(255, 255, 255); margin-left:30px; width: 80%;}
                .linie-dreapta-2 {border-top: 3px solid rgb(255, 255, 255); margin-left:30px; width: 80%;}
                .linie-dreapta-3 {border-top: 7px solid rgb(255, 255, 255); width: 75%;}
                .linie-dreapta-4 {border-top: 7px solid rgb(255, 255, 255); width: 40%;}
                .linie-dreapta-5 {border-top: 7px solid rgb(255, 255, 255); width: 60%;}
                .linie-dreapta-6 {border-top: 7px solid rgb(255, 255, 255); width: 40%;}
                .linie-dreapta-7 {border-top: 7px solid rgb(255, 255, 255); width: 95%;}
            /* FINAL MODUL LINII */

            /* INCEPUT MODUL POZA----------------------------------------------------------------*/
                .POZA {
                    position:relative; width:280px; top: 220px;
                    padding-left: 50px;
                    border-style: solid; border-color: rgba(0, 0, 0, 0);
                }
                .POZA-ROTUNDA {
                    color: #000000;
                    align-items:center; width: 250px; height: 320px;
                    border-radius: 30%; /* Poza circulara */
                    overflow: hidden; /* Poza sa ramana rotunda */
                }
                .POZA-ROTUNDA img {
                    width: 80%; /* Poza sa umple forma rotunda */
                    height: auto; /* Mentine aspectul */
                    display: block; /* Inlatura spatii */
                } 
            /* FINAL MODUL POZA----------------------------------------------------------------*/   
            
            .TEXT-1D {
                position:relative; width: 300px; top: 110px; 
                border-style: solid; border-color: rgba(0, 0, 0, 0);
                text-wrap:wrap; text-decoration-style: double; text-align: center;
                font-style: italic; font-family: Impact Haettenschweiler, 'Arial Narrow bold', sans-serif;
                color: #ffffff;
            }
            .CONTACT {
                position:relative; width:300px; top: 150px; 
                padding-left: 20px;
                border-style: solid; border-color: rgba(0, 0, 0, 0);
                text-wrap:wrap; text-decoration-style: double; text-align: left;
                font-style: italic; font-family: Impact Haettenschweiler, 'Arial Narrow bold', sans-serif;
                color: #ffffff;
            }
            .PROSKILLS {
                position: relative; width:300px; top: 200px; 
                padding-left: 20px;
                border-style: solid; border-color: rgba(0, 0, 0, 0);
                text-wrap:wrap; text-decoration-style: double; text-align: left;
                font-style: italic; font-family: Impact Haettenschweiler, 'Arial Narrow bold', sans-serif;
                color: #ffffff;
            }
            .HOBBIES {
                position: relative; width:300px; top: 250px; 
                padding-left: 20px;
                border-style: solid; border-color: rgba(0, 0, 0, 0);
                text-wrap:wrap; text-decoration-style: double; text-align: left;
                font-style: italic; font-family: Impact Haettenschweiler, 'Arial Narrow bold', sans-serif;
                color: #ffffff;
            }
    /* FINAL PARTE DREAPTA DIN CV */